In [136]:
import pandas as pd
import numpy as np
import re

In [137]:
df = pd.read_csv("sylvain_aigris (3).csv")

In [138]:
df = df[["TokenId", "token", "label"]]
df.head()

   TokenId     token  label
0        0        Le      5
1        1       cas      5
2        2  présenté      5
3        3  concerne      5
4        4        un      5

In [130]:
labels = []
n = len(df["token"].to_list())
tk_list = df["token"].to_list()
label_list = df["label"].to_list()
for i, token in enumerate(df["token"].to_list()):
    label = label_list[i]
    if (i<n-1 and label != 5):
        if (token == "en" and label_list[i]==1 and label_list[i+1]!=1):
            label = 5
        if (token in [",","(",")",";","."]):
            label = 5
        if (token in ["g", "mg", "ml", "mL"] or token.lower() in ["gray", "gy", "grays"] or (re.search("[0-9]+", token) and tk_list[i+1] in ["g", "mg", "ml", "mL"])):
            label = 0
        elif (re.search("(ine|one|ol|o[iï]de|[iï]que|épam)$", token) or token == "acide"):
            label = 1
        elif (token in ["jours", "semaines", "mois"] or (re.search("[0-9]+", token) and tk_list[i+1] in ["jours", "semaines", "mois"]) or (token == "pendant" and label_list[i+1]==2)):
            label = 2
        elif (re.search("^(ampoule|comprimé|pommade)", token)):
            label = 3
        elif (token in ['par', 'jour', 'heure', 'jr'] or (token in ["par", "/"] and tk_list[i+1] in ['jour', 'heure', 'jr']) or tk_list[i+1] == 'fois' or (token == "toutes" and label_list[i+1]==4)):
            label = 4
        elif (token in ["voie", "orale", "intraveineuse", "inguinale", "anale", "orale", "perfusion"] or (token == "par" and tk_list[i+1] == "voie")):
            label = 6
        elif (re.search("th[ée]rapie", token)):
            label = 7
    labels.append(label)

In [131]:
len(labels)

32557

In [133]:
d = {'TokenId': df["TokenId"].to_list(), 'Predicted': labels}

In [134]:
preds = pd.DataFrame(d)
preds.head()

   TokenId  Predicted
0        0          5
1        1          5
2        2          5
3        3          5
4        4          5

In [135]:
preds.to_csv('preds_quinten.csv', index=False)